# Proprietes de l'application
spring:
  application:
    name: apigateway                                   # nom de l'application
  cloud:
    # Configuration de l'API Gateway
    gateway:
      discovery:
        locator:
          enabled: true #activation eureka locator
          lowerCaseServiceId: true
          # car le nom des services est en minuscule dans l'URL
      # Configuration des routes de l'API Gateway
      routes:
        #Service USER-SERVICE
        - id: users-service
          uri: lb://USERS-SERVICE/ #Attention : lb et pas HTTP. Lb est prêt pour faire du load-balancing
          predicates:
            # On matche tout ce qui commence par /api/clients
            - Path=/api/users/**
          filters:
            # On va réécrire l'URL pour enlever le /api/client
            - RewritePath=/api/users(?<segment>/?.*), /$\{segment}
        #Service CLASS-SERVICE
        - id: classes-service
          uri: lb://CLASSES-SERVICE/ #Attention : lb et pas HTTP. Lb est prêt pour faire du load-balancing
          predicates:
            # On matche tout ce qui commence par /api/clients
            - Path=/api/class/**
          filters:
            # On va réécrire l'URL pour enlever le /api/client
            - RewritePath=/api/class(?<segment>/?.*), /$\{segment}
        #Service Composite utilisateurs et classes
        - id: user-class
          uri: lb://USER-CLASS/
          predicates:
            - Path=/api/classdetails/**
          filters:
            - RewritePath=/api/classdetails(?<segment>/?.*), /$\{segment}
      enabled: on # Activation gateway
    # Activation remontée management dans Eureka
    config:
      service-registry:
        auto-registration:
          register-management: on


eureka:
  client:
    serviceUrl:
      defaultZone: http://annuaire-service:1111/eureka/ # url d'accès à l'annuaire


logging:
  level:
    org.springframework.web: INFO

server:
  port: 10001